$max-width: 1280px;
$white-color: #ffffff;
$primary-color: #3d021e;
$primary-text-color: #a10550;
$black-color: #0c0c0c;
$error-color: #c30000;
$success-color: #00966d;
$warning-color: #a9791c;
$natural-gray-dark: #606060;
$natural-gray-light: #dfdfdf;
$small-screen-font-size: 14px;
$small-screen-title-size: 24px;
$large-screen-font-size: null;
$small-screen-icon-size: 24px;
$large-screen-icon-size: null;
$natural-background-color: #faf9f5;
$pale-pink: #fbeff2;
