@import "../../sass/variables";
@import "../../sass/utils";
header {
  width: 100%;
  height: 64px;
  position: fixed;
  border-bottom: 1px solid #dfdfdf6a;
  color: $black-color;
  background-color: $white-color;
  @include flex(center, center);
  padding: 0.8rem;
  background: radial-gradient(#f8e9f0, $white-color);
  div {
    @include flex(center, center);
    font-size: $small-screen-icon-size;
  }
  .list {
    width: 10%;

    ul {
      width: 100%;
      height: 100vh;
      background-color: #faf9f5;
      z-index: 2000;
      position: fixed;
      top: 64px;
      left: 0;
      padding: 1.5rem;
      @include flex(flex-start, flex-start);
      flex-direction: column;
      li {
        background-color: $white-color;
        width: 100%;
        height: 40px;
        font-size: $small-screen-font-size;
        padding: 10px;
        font-weight: 600;
        border-bottom: 1px solid $natural-gray-light;
        &:first-child {
          border-top: 1px solid $natural-gray-light;
        }
      }
    }
  }
  .search {
    width: 10%;
  }
  .logo {
    width: 60%;
  }
  .language {
    width: 20%;

    p {
      font-size: 15px !important;
    }
  }
}

@media only screen and (min-width: 768px) {
  header {
    .list {
      width: 70%;
      order: 2;
      position: relative;

      &Icon {
        display: none;
      }
      ul {
        width: 68%;
        height: 64px;

        top: 0px;
        left: 16%;
        flex-direction: row;
        padding: 0;
        background-color: transparent;
        @include flex(flex-start, center);
        li {
          border: none;
          background-color: transparent;
          padding: 5px;

          &:first-child {
            border-top: none;
          }
        }
      }
    }
    .search {
      width: 5%;
      order: 3;
    }
    .logo {
      width: 15%;
      order: 1;
    }
    .language {
      width: 10%;
      order: 4;
      border-left: 1px solid $black-color;
      p {
        font-size: 18px;
      }
    }
  }
}
