@import "../../sass/variables";
@import "../../sass/utils";
header {
  width: 100%;
  height: 64px;
  position: relative;
  color: $black-color;
  background-color: $white-color;
  @include flex(center, flex-end);
  padding: 0.8rem;
  background: radial-gradient(#f4cfe1ba, $white-color);
  div {
    @include flex(center, center);
    font-size: $small-screen-icon-size;
  }
  .list {
    width: 10%;

    ul {
      width: 100%;
      position: absolute;
      bottom: -100px;
      right: 0;

      @include flex(flex-start, flex-start);
      flex-direction: column;
    }
  }
  .search {
    width: 10%;
  }
  .logo {
    width: 60%;
  }
  .language {
    width: 20%;

    p {
      font-size: 15px !important;
    }
  }
}

@media only screen and (min-width: 768px) {
  header {
    .list {
      width: 65%;
      order: 2;
      position: relative;
      &Icon {
        display: none;
      }
      ul {
        width: 100%;
        bottom: 0%;
        right: 0%;
        flex-direction: row;
        // @include flex(space-between);
      }
    }
    .search {
      width: 5%;
      order: 3;
    }
    .logo {
      width: 20%;
      order: 1;
    }
    .language {
      width: 10%;
      order: 4;
      border-left: 1px solid $black-color;
      p {
        font-size: 18px;
      }
    }
  }
}
